@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap');

:root{
    --color1:#F16718;
    --color2:#FF9B62;
    --color3:#162542;
    --color4:#7B8BAD;
    --color5:#E8EFF2;
    --color6:#FFFFFF;

    /*Typo*/
    --ff: 'Barlow', sans-serif;
}

/* -- GENERAL -- */
html, body{
    margin: 0;
    width: 100vw;
    font-family: var(--ff);
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color4);
}

h1,h2,h3{
    color:var(--color3);
    text-transform: capitalize;
    font-weight: 900;
}
h1{
    font-size: 56px;
    line-height: 56px;
}h2{
    font-size: 32px;
    line-height: 36px;
    
}h3{
    line-height: 28px;
    font-size: 24px;
}


main {
    overflow: hidden;
    padding: 24px;
}
/* Buttons*/
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.button {
    border-radius: 8px;
    width: 150px;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--color3);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
}

.whiteButton {
    color: unset;
}

.orangeButton {
    color: white;
    background-color: var(--color1);
}
.grayButton {
    background: #E8EFF2;
}


/* -- Header -- */
header {
    display: flex;
    justify-content: space-between;
}

/* Hero images */
.hero_top_img img, .hero_images img {
    width: 100%;
    height: 100%;
}
.hero_top_img {
    border-radius: 24px;
    overflow-x: hidden;
    margin-right: -30px;
}

.hero_images {padding: 24px 0;}

.hero_bottom {
    display: flex;
    padding: 24px;
    gap: 24px;
}.hero_bottom img {
    border-radius: 25px;
}
.hero_phone {
    margin-left: -75px;
    overflow: hidden;
    background-color: var(--color1);
    border-radius: 25px;
}

.hero_phone img {
    opacity: 0.2;
    width: 100%;
    height: 100%;
}
.hero_box_gray{display: none;}
/* Mechanical */
.mechanical h2 {
    text-align: center;
    padding: 0 30px;
}

.mechanical p {
    text-align: center;
}

/* Info boxes */
.especificaciones {padding: 70px 0;}

.info_boxes {text-align: center;}

.info_box {padding: 15px 0;}

.info_box h3 {width: 50%;margin: 0 auto;padding: 24px 0;}
.info_box_img {
    width: 65px;
    height: 65px;
    background-color: var(--color1);
    margin: 24px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

/* Footer */
footer {text-align: center;}
footer span {font-weight: bold;}

/*Tablet*/
@media (min-width:640px){
    .hero_top_info {
        display: flex;
        align-items: center;
        gap: 60px;
        justify-content: center;
    }
    .hero_bottom {
        justify-content: space-evenly;
    }

    .hero_bottom img {
        max-height: 320px;
    }
    .hero_glass img {
    }

    .hero_phone {
        margin: unset;
    }
    .mechanical {
        display: flex;
        align-items: center;
    }
    
    .mechanical h2, .mechanical p {
        text-align: left;
    }
    
    .info_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    
    .info_box_img {
        margin: unset;
        margin-top: 24px;
    }
    
    .info_box h3 {
        margin: unset;
    }
    
    .info_box p {
        width: 80%;
    }
}

@media (min-width:1023px) {
    .hero_box_gray{
        display: block;
        
        Width:255px;
        Height:240px;
        background-color: #E8EFF2;
        border-radius: 20px;
    }

    .hero_top_info .hero_box_gray {
        margin-right: -4%;
    }
    
    .hero_images .hero_box_gray {
        align-self: end;
        margin-left: -150px;
    }
    .hero_images {
        display: grid;
        grid-template-columns: auto 2fr 1fr;
        gap: 20px;
    }
    
    .mechanical {
        flex-direction: column;
    }
    
    .hero_glass img {
        height: 100%;
        width: 100%;
        max-height: unset;
        max-width: unset;
    }
    
    .hero_bottom img {
    max-height: unset;
    max-width: unset;
    }
    
    .mechanical h2 {padding: unset;}
    
    .hero_bottom {
        gap: unset;
        padding: unset;
        width: 100%;
        gap: 20px;
    }


    .info_boxes {
        display: flex;
        gap: 50px;
    }
}